.cardlist-wrapper {
  display: flex;
  /* max-width: 25vw; */
  flex-direction: row;
  gap: 0.5vw;
  flex-wrap: wrap;
}

.cardlist-item {
  padding: 0.5vw;
  border: black;
  border-width: thin;
  border-style: solid;
  max-width: 25vw;
  border-radius: 10px;
}

.cardlist-item-img {
  width: 25vw;
  height: min-content;
  margin: auto;
  display: block;
}

.cardlist-item-name {
  text-align: center;
}

.price-text {
  background-color: green;
  max-width: 5vw;
  bottom: 1%;
  border-style: solid;
  border-radius: 5px;
  color: white;
  margin: auto;
  border: 1px solid black;
  text-align: center;
}
