.cardlist-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cardlist-item {
  padding: 0.5vw;
}

.cardlist-item-oracle {
  font-size: small;
  max-width: 120px;
}
.cardlist-item-img {
  width: 280px;
  height: min-content;
  margin: auto;
  display: block;
}

.cardlist-item-name {
  text-align: center;
}

.price-text {
  background-color: green;
  bottom: 1%;
  border-style: solid;
  border-radius: 5px;
  color: white;
  margin: auto;
  border: 1px solid black;
  text-align: center;
  font-size: small;
}
