<link rel="stylesheet" href="css/styles.css" />
<div class="cardlist-wrapper">
  {{#each this}}
  <div class="cardlist-item">
    <img class="cardlist-item-img" src={{image_uris.normal}} />
    <div class="cardlist-item-name">
      <h1>{{name}}</h1>
    </div>
    <p class="cardlist-item-oracle">{{oracle_text}}</p>
    <p class="price-text">${{prices.usd}}</p>
  </div>
  {{/each}}
</div>

